/* Initial State */

.main__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 90vw;
    margin: 0 auto;
}

.form__wrapper {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.form {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.fname, .lname, .password, .confirm-password {
    width: 200px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px auto;
}

.label__fname, .label__lname, .label__password, .label__confirm-password {
    width: 200px;
    border-radius: 5px;
    padding: 5px;
    display: none;
}

.btn {
    width: 200px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px auto;
}

.requirements {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.password__requirements {
    list-style: none;
}

.passed {
    color:green;
}

.password__strength {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    background-color: goldenrod;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.27);
    box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.27);
}

.display-strength {
    
}
.no-display-strength {
    display: none;
}