.form__wrapper {
  display: grid; }

.form {
  display: grid;
  grid-template-columns: 1fr 5rem;
  justify-items: center; }

.password-field {
  width: 40rem;
  height: 4.5rem;
  border-radius: 5rem;
  padding: 1.5rem;
  border: none; }
  .password-field--enable {
    background-color: #FFFFFF;
    margin: 2rem 0;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.12); }
    .password-field--enable::placeholder {
      font-family: inherit;
      font-size: 1.6rem;
      color: black; }
  .password-field--disable {
    background-color: 10px 10px 44px 0px rgba(0, 0, 0, 0.17);
    margin: 1rem 0;
    box-shadow: #FFFFFF; }
    .password-field--disable::placeholder {
      font-family: inherit;
      font-size: 1.6rem;
      color: rgba(0, 0, 0, 0.322); }

.password-toggle {
  display: flex;
  align-items: center;
  font-size: 1.5rem; }
  .password-toggle--enable {
    color: rgba(0, 0, 0, 0.541); }
  .password-toggle--disable {
    color: rgba(0, 0, 0, 0.17); }

.label__confirm-password {
  display: none; }

.btn {
  width: 20rem;
  height: 4rem;
  border-radius: 5rem;
  padding: 1rem;
  margin: 3rem auto;
  border: none;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.17); }

.requirements {
  width: 100%;
  height: 100%;
  padding: 20px; }

.password__requirements {
  list-style: none; }

.passed {
  color: green; }

.password__strength {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  background-color: goldenrod;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 10px 10px 44px 0px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 10px 10px 44px 0px rgba(0, 0, 0, 0.27);
  box-shadow: 10px 10px 44px 0px rgba(0, 0, 0, 0.27); }

.heading__primary {
  font-size: 4rem; }

.heading__secondary {
  font-size: 2rem; }

.paragraph {
  font-size: 1.6rem; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  vertical-align: baseline; }

.main__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 80vw;
  margin: 0 auto; }
