.heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

    &__primary{
        font-size: 4rem;
    }

    &__secondary{
        font-size: 2rem;
    }
}

.paragraph {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
}