.form__wrapper {
    display: grid;
}

.form {
    display: grid;
    grid-template-columns: 1fr min-content;
}

.password-field {
 
    &--enable {
        width: 100%;
        height: 4rem;
        border-radius: 5rem;
        padding: 1rem;
        border: none;
        background-color:#FFFFFF;
        margin: 2rem 0;
        box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.12);

        &::placeholder {
            font-family: inherit;
            font-size: 1.6rem;
            color: black;
            
        }

        &:hover {
            
        }
    }

    &--disable {
        width: 100%;
        height: 4rem;
        border-radius: 5rem;
        padding: 1rem;
        border: none;
        background-color: 10px 10px 44px 0px rgba(0,0,0,0.17);
        margin: 1rem 0;
        box-shadow: #FFFFFF;

        &::placeholder {
            font-family: inherit;
            font-size: 1.6rem;
            color: rgba(0, 0, 0, 0.322);
            
        }
    }
}

.password-toggle {

    &--enable {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        margin-left: -3rem;
        color: rgba(0, 0, 0, 0.541);
    }
    
    &--disable {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        margin-left: -3rem;
        color: rgba(0, 0, 0, 0.17);
    }
}
   

.label__confirm-password {
    display: none;
}

.btn {
    width: 50%;
    height: 4rem;
    border-radius: 5rem;
    padding: 1rem;
    margin: 3rem auto;
    border: none;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.17);
    
}