.form__wrapper {
    display: grid;
}

.form {
    display: grid;
    grid-template-columns: 1fr 5rem;
    justify-items: center;
}

.password-field {
    width: 40rem;
    height: 4.5rem;
    border-radius: 5rem;
    padding: 1.5rem;
    border: none;

  

    &--enable {
        background-color:#FFFFFF;
        margin: 2rem 0;
        box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.12);

        &::placeholder {
            font-family: inherit;
            font-size: 1.6rem;
            color: black;
            
        }

    }

    &--disable {
        background-color: 10px 10px 44px 0px rgba(0,0,0,0.17);
        margin: 1rem 0;
        box-shadow: #FFFFFF;

        &::placeholder {
            font-family: inherit;
            font-size: 1.6rem;
            color: rgba(0, 0, 0, 0.322);
            
        }
    }
}

.password-toggle {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    // margin-left: -40rem;
   
    &--enable {
        
        color: rgba(0, 0, 0, 0.541);
    }
    
    &--disable {
        color: rgba(0, 0, 0, 0.17);
    }

}
   

.label__confirm-password {
    display: none;
}

.btn {
    width: 20rem;
    height: 4rem;
    border-radius: 5rem;
    padding: 1rem;
    margin: 3rem auto;
    border: none;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.17);
    
}