.password__strength {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    background-color: goldenrod;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.27);
    box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.27);
}

.display-strength {
    
}